.banner {
    object-fit: cover;
    display: block;
    background-image: url(../images/bannerBG.jpeg);
    font-family: "Montserrat", sans-serif;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 750px;
    color: #ffffff;
    position: relative;
    &__nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        &--logo {
            cursor: context-menu;
            & div {
                background-color: rgba($color: #fff, $alpha: 0.15);
                user-select: none;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: bold;
                color: #ffffff;
                padding: 5px;
                margin-right: 10px;
                letter-spacing: 1px;
                font-size: 20px;
                border-radius: 5px;
                display: inline-block;
                border: 2px solid #ffffff;
            }
        }
        &--menu {
            display: flex;
            &-item {
                cursor: pointer;
                margin: 20px 16px;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 2px;
            }
        }
    }
    &__offer {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20%;
        cursor: context-menu;
        &--description {
            margin: 40px 0;
            line-height: 2rem;
        }
        &--header {
            font-size: 80px;
            font-weight: 500;
        }
        &--button {
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 15px;
            color: #ffffff;
            background: linear-gradient(135deg, #478ac9, #24d9ea);
            padding: 15px 35px;
            &:active {
                transform: scale(0.98);
            }
            position: relative;
            &::before {
                content: "";
                background: linear-gradient(135deg, #478ac9, #24d9ea);
                display: block;
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                filter: blur(10px);
                transition: .3s;
            }
            &:hover::before{
                filter: blur(20px);
            }
        }
    }
}
